/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Kaushan+Script|Droid+Serif:400,700,400italic,700italic|Roboto+Slab:400,100,300,700');
@import './agency';

div.intro-text {
  color: black;
}

div.page-wrapper.content-page {
  background-image: url('../assets/img/sky-690293_1280.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top left;
  background-size: 100% 829px;
  padding-top: 74px;
  padding-bottom: 20px;

  div.container {
    padding-top: 20px;
    background-color: white;
    min-height: 829px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
  }
}

div.container section {
  padding-top: 0;
}

div.form-control-feedback.invalid {
  color: #dc3545;
}

h2 span.fa-info-circle {
  cursor: pointer;
  font-size: 0.5em;
}

nav.navbar.position-selection {
  .navbar-text {
    min-width: 350px;
  }
  .nav-item.dropdown, a {
    cursor: pointer;
  }

  .dropdown-menu {
    position: absolute;
  }
}
