<!-- Services -->
<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Service</h2>
        <h3 class="section-subheading text-muted">
          Cloudcoins is intended as a secure, zero-knowledge key store for your Crypto Currency private and public keys.
        </h3>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
            </span>
        <h4 class="service-heading">Zero-knowledge</h4>
        <p class="text-muted">
          Your password encrypts everything and never leaves your browser.
          It is never transmitted to our servers and is not stored in your browser either.
          All your keys are encrypted with your password before storing them in our database.
        </p>
      </div>
      <div class="col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
        <h4 class="service-heading">Open Source</h4>
        <p class="text-muted">
          You don't need to blindly trust us. Have a <a href="https://github.com/guggero/cloudcoins">look at the source
          code</a>
          to see if the application really does what we promise.
        </p>
      </div>
      <div class="col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-viacoin fa-stack-1x fa-inverse"></i>
            </span>
        <h4 class="service-heading">All Altcoins</h4>
        <p class="text-muted">
          Our goal is to support every Altcoin/Crypto Currency there is and allow you to create and manage keys for all
          of them.
          Of course that's a lot of work, so we always <a href="https://github.com/guggero/cloudcoins">welcome
          contributions!</a>
        </p>
      </div>
      <div class="col-md-3">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
            </span>
        <h4 class="service-heading">Convenient</h4>
        <p class="text-muted">
          We want to make Crypto Currencies as easy to use as possible. So instead of a hardware wallet we offer
          something similar as a web service.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Development Timeline</h2>
        <h3 class="section-subheading text-muted">This is the approximate timeline of the features we want to
          implement.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="timeline">
          <li>
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/fall.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>February 2018</h4>
                <h4 class="subheading">Show balance</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Show the balance for more assets/coins.
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-image">
              <img class="rounded-circle img-fluid" src="/assets/img/timeline/laptop.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Q2 2018</h4>
                <h4 class="subheading">Translate</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  Translate whole page into other languages.
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Team -->
<section class="bg-light" id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Development Team</h2>
        <h3 class="section-subheading text-muted">
          Currently it's just my brother and me. But it's Open Source,
          <a href="https://github.com/guggero/cloudcoins">become a contributor too!</a>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="/assets/img/team/oli_600x600.png" alt="">
          <h4>Oliver Gugger</h4>
          <p class="text-muted">Full Stack Developer, Crypto Currency Enthusiast</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://twitter.com/gugol">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://gugger.guru">
                <i class="fa fa-globe"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="mailto:gugger@gmail.com">
                <i class="fa fa-envelope"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/guggero">
                <i class="fa fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="team-member">
          <img class="mx-auto rounded-circle" src="/assets/img/team/fabi_542x560.png" alt="">
          <h4>Fabian Gugger</h4>
          <p class="text-muted">Tester, Crypto Currency Enthusiast</p>
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://github.com/guggerf">
                <i class="fa fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Get in touch if you would like to become a beta tester, developer, translator or
          help the project in any other way.</p>
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contact</h2>
        <h3 class="section-subheading text-muted">Leave us a message. We will get back to you.</h3>
        <p class="text-muted">
          We use reCAPTCHA2 to protect this form against spam messages.<br/>
          By sending a message you accept the reCAPTCHA2 Google
          <a href="https://www.google.com/intl/en/policies/privacy/">Privacy Policy</a> and
          <a href="https://www.google.com/intl/en/policies/terms/">Terms of Use</a>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <notification [notificationKey]="notificationKey" [isSuccess]="isSuccess"></notification>

        <form name="messageForm"
              [formGroup]="messageForm"
              (keyup.enter)="createMessage(messageForm.value)"
              *ngIf="!isSuccess">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text"
                       name="name"
                       placeholder="Your Name *"
                       formControlName="name"
                       class="form-control"
                       [ngClass]="{'is-invalid': (name.dirty || name.touched) && name.invalid}">
                <div class="form-control-feedback invalid"
                     *ngIf="(name.dirty || name.touched) && name.invalid">
                  The name needs to be at least 5 characters long.
                </div>
              </div>
              <div class="form-group">
                <input type="email"
                       name="email"
                       placeholder="Your Email *"
                       formControlName="email"
                       class="form-control"
                       [ngClass]="{'is-invalid': (email.dirty || email.touched) && email.invalid}">
                <div class="form-control-feedback invalid"
                     *ngIf="(email.dirty || email.touched) && email.invalid">
                  Please enter a valid email.
                </div>
              </div>
              <div class="form-group">
                <re-captcha site_key="6Lf-tzEUAAAAAO2GwYLjVq3psjOPKLWnx9S_YY6B"></re-captcha>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <textarea name="message"
                          placeholder="Your Message *"
                          formControlName="message"
                          class="form-control"
                          [ngClass]="{'is-invalid': (message.dirty || message.touched) && message.invalid}"></textarea>
                <div class="form-control-feedback invalid"
                     *ngIf="(message.dirty || message.touched) && message.invalid">
                  Please enter a message.
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <button type="button"
                      [disabled]="messageForm.invalid"
                      (click)="createMessage(messageForm.value)"
                      class="btn btn-xl ">
                Send Message
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
