<section>
  <h2 class="section-heading">Login</h2>

  <notification [notificationKey]="notificationKey" [isSuccess]="isSuccess"></notification>

  <form name="loginForm"
        [formGroup]="loginForm"
        (submit)="login(loginForm.value)"
        (keyup.enter)="login(loginForm.value)"
        *ngIf="!isSuccess">

    <div class="form-group col-lg-8">
      <label for="username" class="col-form-label">Username</label>
      <input type="text"
             name="username"
             class="form-control"
             formControlName="username"
             [ngClass]="{'is-invalid': (username.dirty || username.touched) && username.invalid}"
             id="username">
      <div class="form-control-feedback invalid"
           *ngIf="(username.dirty || username.touched) && username.invalid">
        The username needs to be at least 3 characters long.
      </div>
    </div>

    <div class="form-group col-lg-8">
      <label for="password">Password</label>
      <input type="password"
             name="password"
             class="form-control"
             formControlName="password"
             [ngClass]="{'is-invalid': (password.dirty || password.touched) && password.invalid}"
             id="password">
      <div class="form-control-feedback invalid"
           *ngIf="(password.dirty || password.touched) && password.invalid">
        The password is not long enough.
      </div>
    </div>

    <div class="form-group col-lg-8">
      <label for="otp">2-factor verification code</label>
      <input type="number"
             name="otp"
             class="form-control"
             formControlName="otp"
             autocomplete="false"
             [ngClass]="{'is-invalid': (otp.dirty || otp.touched) && otp.invalid}"
             id="otp">
      <div class="form-control-feedback invalid"
           *ngIf="(otp.dirty || otp.touched) && otp.invalid">
        Please enter the generated code from your OTP app (like Google Authenticator).
      </div>
    </div>
  </form>

  <div class="col-lg-8" *ngIf="!isSuccess">
    <div class="float-right">
      <button type="button"
              class="btn btn-primary"
              (click)="login(loginForm.value)"
              [disabled]="loginForm.invalid">
        <span *ngIf="buttonClicked" class="fa fa-cog fa-spin fa-fw"></span>
        Login
      </button>
    </div>
  </div>
</section>
