<section>
  <h2 class="section-heading">Login</h2>

  <div class="alert alert-success" role="alert" *ngIf="showSuccessMessage">
    <strong>Success!</strong> You are now logged in!
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="errorMessage !== null">
    <strong>Error!</strong> Something went wrong: {{errorMessage | json}}
  </div>

  <form name="loginForm" [formGroup]="loginForm" *ngIf="errorMessage === null && !showSuccessMessage">

    <div class="form-group col-lg-8">
      <label for="email" class="col-form-label">Email address</label>
      <input type="email"
             name="email"
             class="form-control"
             formControlName="email"
             [ngClass]="{'is-invalid': (email.dirty || email.touched) && email.invalid}"
             id="email">
      <div class="form-control-feedback invalid"
           *ngIf="(email.dirty || email.touched) && email.invalid">
        Please enter a valid email address.
      </div>
    </div>

    <div class="form-group col-lg-8">
      <label for="password">Password</label>
      <input type="password"
             name="password"
             class="form-control"
             formControlName="password"
             [ngClass]="{'is-invalid': (password.dirty || password.touched) && password.invalid}"
             id="password">
      <div class="form-control-feedback invalid"
           *ngIf="(password.dirty || password.touched) && password.invalid">
        The password is not long enough.
      </div>
    </div>

    <div class="form-group col-lg-8">
      <label for="otp">2-factor verification code</label>
      <input type="number"
             name="otp"
             class="form-control"
             formControlName="otp"
             [ngClass]="{'is-invalid': (otp.dirty || otp.touched) && otp.invalid}"
             id="otp">
      <div class="form-control-feedback invalid"
           *ngIf="(otp.dirty || otp.touched) && otp.invalid">
        Please enter the generated code from your OTP app (like Google Authenticator).
      </div>
    </div>
  </form>

  <div class="col-lg-8" *ngIf="errorMessage === null && !showSuccessMessage">
    <div class="float-right">
      <button type="button"
              class="btn btn-primary"
              (click)="login(loginForm.value)"
              [disabled]="loginForm.invalid">
        Login
      </button>
    </div>
  </div>
</section>
