<section>
  <h2 class="section-heading">My Keychains</h2>

  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>BIP32 master key</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let keychain of keychains">
      <td>{{keychain.name}}</td>
      <td>{{cryptoService.decrypt(sessionService.getKey(), keychain.key)}}</td>
    </tr>
    <tr *ngIf="!keychains || keychains.length === 0">
      <td colspan="2"><em>You don't have any keychains yet.</em></td>
    </tr>
    </tbody>
  </table>
</section>

<section>
  <h3>Add new keychain</h3>

  <form name="keychainForm" [formGroup]="keychainForm">

    <div class="form-group col-lg-8">
      <label for="name" class="col-form-label">Name</label>
      <input type="text"
             name="name"
             class="form-control"
             formControlName="name"
             [ngClass]="{'is-invalid': (name.dirty || name.touched) && name.invalid}"
             id="name">
      <div class="form-control-feedback invalid"
           *ngIf="(name.dirty || name.touched) && name.invalid">
        Please enter a name.
      </div>
    </div>

    <div class="form-group col-lg-8">
      <label for="masterKey">Password</label>
      <input type="text"
             name="masterKey"
             class="form-control"
             formControlName="masterKey"
             [ngClass]="{'is-invalid': (masterKey.dirty || masterKey.touched) && masterKey.invalid}"
             id="masterKey">
      <div class="form-control-feedback invalid"
           *ngIf="(masterKey.dirty || masterKey.touched) && masterKey.invalid">
        Please enter a valid BIP32 bitcoin master key (starts with xprv)
      </div>
      <small class="form-text text-muted">This is a generated random key. You can also paste your own key here.</small>
    </div>
  </form>

  <div class="col-lg-8">
    <div class="float-right">
      <button type="button"
              class="btn btn-primary"
              (click)="save(keychainForm.value)"
              [disabled]="keychainForm.invalid">
        Create keychain
      </button>
    </div>
  </div>
</section>
