<section>
  <h2 class="section-heading">
    My Keychains <span (click)="helpShown = !helpShown" class="ml-1 fa fa-info-circle"></span>
  </h2>

  <div class="card bg-light mb-4 page-help" *ngIf="helpShown">
    <div class="card-header"><span class="fa fa-info-circle mr-1"></span> Help / Info</div>
    <div class="card-body">
      <p class="card-title">
        A keychain is a set of crypto currency key pairs (private and public keys) that are deterministically calculated
        from a root key (also called the BIP32 master extended key). You can have multiple root keys if you want but
        that is not necessary since you can generate many, many key pairs from one single root key.<br/>
        But if you have a wallet software on your smartphone you might want to import it to Cloudcoins to keep a
        backup.<br/>
        Use the "Add keychain" button to import or generate a root key.
      </p>
    </div>
  </div>

  <div class="row align-items-end mb-4">

    <form class="col-6">
      <div class="form-group" *ngIf="keychains && keychains.length > 0">
        <label for="chain">Select keychain</label>
        <select id="chain"
                name="chain"
                class="form-control"
                [(ngModel)]="selectedChain"
                (change)="selectCoin(selectedChain.coins[0])">
          <option *ngFor="let chain of keychains" [ngValue]="chain">{{chain.name}}</option>
        </select>
      </div>

      <div class="form-group" *ngIf="keychains && keychains.length === 0">
        <span>You don't have any keychains yet.</span>
      </div>
    </form>

    <div class="col-6">
      <div class="form-group">
        <a routerLink="/add-keychain" class="btn btn-primary" role="button">Add keychain</a>
      </div>
    </div>
  </div>

  <div *ngIf="selectedChain !== null">
    <h4>Addresses for keychain {{selectedChain.name}}</h4>
    <nav class="navbar navbar-expand-md navbar-light bg-light position-selection mb-4">
      <span class="navbar-text" *ngIf="!selectedChain.coins || selectedChain.coins.length === 0">
          No coin/crypto currency added yet
      </span>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngFor="let coin of selectedChain.coins">
            <a class="nav-link"
               (click)="selectCoin(coin)"
               [class.active]="selectedCoin === coin">
              {{coin.network.label}}
            </a>
          </li>
        </ul>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">
            Add coin/crypto currency
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngFor="let network of getSelectableNetworks()" (click)="newCoin(network)">
              {{network.label}}
              <span title="Balance supported" *ngIf="network.config.apiName" class="has-balance fa fa-money"></span>
            </a>
          </div>
        </div>
      </div>
    </nav>

    <table class="table mb-4" *ngIf="selectedCoin">
      <thead>
      <tr>
        <th width="50">#</th>
        <th width="350">Address</th>
        <th width="80">Balance</th>
        <th>Private Key</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pair of selectedCoin.keyPairs | orderBy: 'index'">
        <td>{{pair.index}}</td>
        <td>
          <a class="link" (click)="pair.showAddress = !pair.showAddress">{{pair.address}}</a>
          <img *ngIf="pair.showAddress && pair.qrAddress" [src]="pair.qrAddress">
        </td>
        <td>{{pair.balance}}</td>
        <td>
          <a class="link" (click)="pair.showWif = !pair.showWif">{{pair.showWif ? pair.wif : 'Show'}}</a>
          <img *ngIf="pair.showWif && pair.qrWif" [src]="pair.qrWif">
        </td>
      </tr>
      </tbody>
    </table>

    <button class="btn" *ngIf="selectedCoin" (click)="newKey()">New key</button>
    <button class="btn" *ngIf="selectedCoin" (click)="openDialog(customKeyDialog)">Add key with custom index</button>
  </div>

  <ng-template #customKeyDialog let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Add custom index</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('close')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form name="customIndexForm" [formGroup]="customIndexForm">
        <label for="customIndex">Custom index</label>
        <input type="number"
               name="customIndex"
               class="form-control"
               formControlName="customIndex"
               [ngClass]="{'is-invalid': (customIndex.dirty || customIndex.touched) && customIndex.invalid}"
               id="customIndex">
        <div class="form-control-feedback invalid"
             *ngIf="(customIndex.dirty || customIndex.touched) && customIndex.invalid">
          Please enter a valid BIP44 index (max 2,147,483,646)
        </div>
        <small class="form-text text-muted">The custom key will be saved separately to the database.</small>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" (click)="c('ok')">Ok</button>
    </div>
  </ng-template>
</section>
