<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">

  <meta name="robots" content="index, follow">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="keywords" content="cloudcoins">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <style>
    .navbar-toggler {
      z-index: 1;
    }

    @media (max-width: 576px) {
      nav > .container {
        width: 100%;
      }
    }
  </style>
</head>

<body id="page-top">

<app>
  Loading...
</app>

<% if (htmlWebpackPlugin.options.metadata.isDevServer) { %>
<!-- Webpack Dev Server reload -->
<script src="/webpack-dev-server.js"></script>
<% } %>

</body>
</html>
