<section>
  <h2 class="section-heading">Create account</h2>

  <notification [notificationKey]="notificationKey" [isSuccess]="isSuccess"></notification>

  <form name="accountForm"
        [formGroup]="accountForm"
        (keyup.enter)="createAccount(accountForm.value)"
        *ngIf="!isSuccess">

    <div class="form-group col-lg-8">
      <label for="username" class="col-form-label">Username</label>
      <input type="text"
             name="username"
             class="form-control"
             formControlName="username"
             [ngClass]="{'is-invalid': (username.dirty || username.touched) && username.invalid}"
             id="username">
      <div class="form-control-feedback invalid"
           *ngIf="(username.dirty || username.touched) && username.invalid">
        The username needs to be at least 3 characters long.
      </div>
      <small class="form-text text-muted">This will be your username for logging in</small>
    </div>

    <div class="form-group col-lg-8">
      <label for="password">Password</label>
      <input type="password"
             name="password"
             class="form-control"
             formControlName="password"
             [ngClass]="{'is-invalid': (password.dirty || password.touched) && password.invalid}"
             id="password">
      <div class="form-control-feedback invalid"
           *ngIf="(password.dirty || password.touched) && password.invalid">
        The password is not long enough.
      </div>
      <small class="form-text text-muted">Choose a secure password that you can remember</small>
    </div>

    <div class="form-group col-lg-8">
      <label for="passwordRepeat">Type password again</label>
      <input type="password"
             name="passwordRepeat"
             class="form-control"
             formControlName="passwordRepeat"
             [ngClass]="{'is-invalid': (passwordRepeat.dirty || passwordRepeat.touched) && passwordRepeat.invalid}"
             id="passwordRepeat">
      <div class="form-control-feedback invalid"
           *ngIf="(passwordRepeat.dirty || passwordRepeat.touched) && passwordRepeat.invalid">
        The passwords do not match.
      </div>
      <small class="form-text text-muted">Please repeat the password you have entered above</small>
    </div>

    <div class="form-group col-lg-8">
      <p class="form-text text-muted">
        We only store a hashed version of your password in our database. This cannot be restored.<br/>
        <strong>If you forget your password, your encrypted keys will be lost!</strong><br/>
        Please make sure you remember the password and/or have written it down somewhere safe.<br/>
        To make sure you understand the consequences of losing your password, please type the following sentence in
        the text field below:<br/>
        <kbd>I understand that nobody can restore my password if I forget it</kbd>
      </p>
      <label for="confirmation">Type the sentence from above text</label>
      <input type="text"
             name="confirmation"
             class="form-control"
             formControlName="confirmation"
             [ngClass]="{'is-invalid': (confirmation.dirty || confirmation.touched) && confirmation.invalid}"
             id="confirmation">
      <div class="form-control-feedback invalid"
           *ngIf="(confirmation.dirty || confirmation.touched) && confirmation.invalid">
        Please type the words "I understand that nobody can restore my password if I forget it"
      </div>
    </div>

    <div class="form-group col-lg-8">
      <p>
        To secure your account, please setup 2-factor authentication using an OTP app like Google Authenticator to scan
        the following QR code:<br/>
        <img [src]="qrCode"/>
      </p>
      <label for="otp">Verification code</label>
      <input type="number"
             name="otp"
             class="form-control"
             formControlName="otp"
             [ngClass]="{'is-invalid': (otp.dirty || otp.touched) && otp.invalid}"
             id="otp">
      <div class="form-control-feedback invalid"
           *ngIf="(otp.dirty || otp.touched) && otp.invalid">
        Please scan the QR code with a TOTP compatible app (like Google Authenticator) and enter the generated code.
      </div>
    </div>
  </form>

  <div class="col-lg-8" *ngIf="!isSuccess">
    <div class="float-right">
      <button type="button"
              class="btn btn-primary"
              (click)="createAccount(accountForm.value)"
              [disabled]="accountForm.invalid">
        Create account
      </button>
    </div>
  </div>
</section>
